#real-alert{
    color: red;
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
}
#test-only{
    color: green;
    text-decoration: none;
}
a{
    display: block;
}

.missile-link{
    margin: 20px;
}

